%p#notice= notice
%h1 Listing Meetups
%table
  %thead
    %tr
      %th Title
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @meetups.each do |meetup|
      %tr
        %td= meetup.title
        %td= meetup.description
        %td= link_to 'Show', meetup
        %td= link_to 'Edit', edit_meetup_path(meetup)
        %td= link_to 'Destroy', meetup, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Meetup', new_meetup_path
